{% extends "layout.html" %}
{% block content %}

<style>
    .title-heading {
        color: orange;
    }
</style>

<div class="d-flex col-md-12 justify-content-center">
    <h2 class=" text-center title-heading">ChartJS Dashboard</h2>
</div>


<div class="col-xs-10 col-sm-6 col-md-6">
    <div class="card card-style mb-2 mt-2">
        <div class="card-body">
            <div class="chart-container" style="position: relative;">
                <canvas id="income_vs_expense"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-10 col-sm-6 col-md-6">
    <div class="card card-style mb-2 mt-2">
        <div class="card-body">
            <div class="chart-container" style="position: relative;">
                <canvas id="expenses_over_time"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-10 col-sm-6 col-md-6">
    <div class="card card-style mb-2 mt-2">
        <div class="card-body">
            <div class="chart-container" style="position: relative;">
                <canvas id="category_chart"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-10 col-sm-6 col-md-6">
    <div class="card card-style mb-2 mt-2">
        <div class="card-body">
            <div class="chart-container" style="position: relative;">
                <canvas id="radar_chart"></canvas>
            </div>
        </div>
    </div>
</div>

{% block javascript %}

      
<script>
   let income_expenses = JSON.parse({{ income_vs_expenses | tojson }});

   Chart.scaleService.updateScaleDefaults('linear', {
            ticks: {
                min: 0
            }
    });

   
    let income_vs_expense_chart = new Chart(income_vs_expense, {
            type: 'pie',
            data: {
            labels: ['expense', 'income'],
                datasets: [{
                    label: "Income Vs Expenses",
                    data: income_expenses,
                    backgroundColor: ['#5DA5DA ', '#FAA43A', '#60BD68',
                        '#B276B2', '#E16851', '#FB8267'],

                    borderWidth: 1,
                    hoverBorderColor: "black",
                    hoverBorderWidth: 2,
                    hoverBackgroundColor: 'rgba(154, 245, 140)',
                    pointHoverRadius: 5
                }],
            },
            options: {
                    title: {
                        display: true,
                            text: "Income Vs Expenses",
                                fontSize: 20,
                    },
                    legend: {
                        position: "right",
                            labels: {
                            fontColor: "gray"
                        },
                        display: true,
                    },

                    elements: {
                        hitRadius: 3,
                    }
            }
        })

    let categorical_data = JSON.parse({{ category_spend | tojson }});

    let category_variable = new Chart(category_chart,{
        type: 'bar',
        data: {
            labels: ['investment', 'rent', 'salary','side_hustle'],
            datasets:[{
                label: "All Categories",
                data: categorical_data,
                backgroundColor: ['#5DA5DA ', '#FAA43A', '#60BD68',
                    '#B276B2', '#E16851', '#FB8267'],
                borderWidth: 1,
                hoverBorderColor: "blue",
                hoverBorderWidth: 2,
                hoverBackgroundColor: 'rgba(154, 245, 140)',
                pointHoverRadius: 5
            }]
            
        },
        options:{
            title: {
                display: true, 
                text: "All Categories",
                fontSize: 18
            },
            legend:{
                position: "right",
                labels:{
                    fontColor:"gray"
                },
                display: true
            },
            elements:{
                hitRadius:3
            }
        }

    })

    let dates = JSON.parse({{ dates_labels | tojson }});
    let amounts = JSON.parse({{ over_time_expenditure | tojson }})

    new Chart(document.getElementById("expenses_over_time"),{
        type: "line",
        data:
        {
            labels: dates,
            datasets: [{
                label: "Transaction over time",
                data: amounts,
                fill:false,
                borderColor: "rgb(90,180,170)",
                lineTension: 0.1
            }]
        },
        options:{
                scales: {
                y: {
                    ticks: {
                        min: Math.min(...amounts),
                        max: Math.max(...amounts)
                    }
                }
            }
        }

    });

    let categories = JSON.parse({{ categories | tojson }});
    let totalAmounts = JSON.parse({{ totalAmounts | tojson }});

    // Get the canvas element
    let ctx = document.getElementById('radar_chart').getContext('2d');

    // Create a radar chart
    let radarChart = new Chart(ctx, {
        type: 'radar',
        data: {
            labels: categories,
            datasets: [{
                label: 'Total Amount',
                data: totalAmounts,
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1,
                pointRadius: 5,
                pointHoverRadius: 8
            }]
        },
        options: {
            scales: {
                r: {
                    suggestedMin: 0
                }
            }
        }
    });

</script>
{% endblock %}

{% endblock %}