{% extends 'layout.html' %}
{% block content %}

<style>
.title-heading {
    color: darkgreen;
}
</style>

<div class="col-sm-10 ml-auto mr-auto">

    <h2 class="title-heading">Transaction History</h2>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Date</th>
            <th scope="col">Type</th>
            <th scope="col">Category</th>
            <th scope="col">Amount</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
            {% for entry in entries %}
            <tr>
                <th scope="row">{{loop.index}} </th>
                <td>{{entry.date.strftime("%m-%d-%Y")}}</td>
                <td>{{entry.type}}</td>
                <td>{{entry.category}}</td>
                <td>{{entry.amount}}</td>
                <td><a href="{{url_for('edit', entry_id=entry.id )}}" class="btn btn-outline-success btn-sm">Edit</a></td>
                 <td><a href="{{url_for('delete', entry_id=entry.id )}}" class="btn btn-outline-danger btn-sm">Delete</a></td>
            
            </tr>

            {% endfor %}
            
        </tbody>
      </table>

</div>


{% endblock %}